.bg_cover {
	background-image: url('../images/slider/swiper/1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	width: 437px;
	background-size: cover;
}

.cbga {
	background-color: #1abc9cbf;
}

.cbgb {
	background-color: #366fc5bf;
}

.cbgc {
	background-color: #a836c5ba;
}

.cbgd {
	background-color: #de2020bf;
}

.cbge {
	background-color: #d66b2cb8;
}

.cbgf {
	background-color: #199411bd;
}

.slider_section {
	margin: 120px auto;
	max-width: 900px;
}

.card_bg {
	color: #fff;
	padding: 10px 10px 20px 10px;
	margin-bottom: 30px;
	border-radius: 5px;
}

.card_bg:hover {
	box-shadow: 0px 3px 6px 1px #555;
	margin: -10px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card_bg h3 {
	position: relative;
	top: 40px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card_bg:hover h3 {
	position: relative;
	top: 10px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card_bg p {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.card_bg:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.tuple{
	overflow: auto;
	height: 600px;
	width: 100%;
	padding: 10px;
}
.jobs_list {
	margin: 20px 0px;
   	padding: 10px 10px;
   	height: 200px;
   	background-color: #fff;
   	box-shadow: 2px 4px 7px 2px #555555bd;
}
#jobTitle{
	color:#09c;
	font-family: Roboto,sans-serif;
}

.jobCode{
	display:none;
	padding: 5px 10px;
	color:#fff;
	font-weight:400;
	margin-right: 5px;
	background-color: #5a646e;	
}
.decrip{
	padding-top: 10px;
	}
.label_{
	color:#888585;
	float: left;
    clear: left;
    width: 25%;
    font-size: 14px;
    line-height: 24px;
    padding-right: 10px;
    font-weight: 600;
}
.desc{
	float: left;
    width: 75%;
    font-size: 15px;
    color: #444;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: justify;
}
.appBtn{
	float: right;
    text-align: right;
    bottom: 25px;
    position: absolute;
    right: 22px;
}
.jobReq{
	color: #fff;
    padding: 10px;
    margin-bottom: 0px;
    background: #0e8069;
	}
	
.jobForm{
	padding : 20px;
}
.sm-form-control {
    box-shadow: 2px 4px 7px 2px #555555bd;;
    border: 1px solid #0000000f;
}	

input, textarea, select, button {
   box-shadow: 2px 4px 7px 2px #555555bd !important;
    border: 1px solid #0000000f !important;
}

.button_blink {
  background-color: #315177;
  -webkit-border-radius: 10px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
  50% { background-color: #5ea1da; -webkit-box-shadow: 0 0 40px #5ea1da; }
  100% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
}

@-moz-keyframes glowing {
  0% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
  50% { background-color: #5ea1da; -webkit-box-shadow: 0 0 40px #5ea1da; }
  100% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
}

@-o-keyframes glowing {
  0% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
  50% { background-color: #5ea1da; -webkit-box-shadow: 0 0 40px #5ea1da; }
  100% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
}

@keyframes glowing {
 0% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
  50% { background-color: #5ea1da; -webkit-box-shadow: 0 0 40px #5ea1da; }
  100% { background-color: #337ab7; -webkit-box-shadow: 0 0 3px #337ab7; }
}
	
/* #jobs_l:nth-of-type(2n+1){
	background-color: #39694a;
	color: #fff;
}	
#jobs_l:nth-of-type(2n){
	background-color: #119e76;
	color: #fff;
}	 */
/* mobile */

@media (max-width: 767px) {
	.card_bg:hover {
		box-shadow: 0px 3px 6px 1px #555;
		margin: 10px;
		-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	.label_{
		width: 25%;
	}
	.desc{
	    width: 75%;
	}
	
}	